<section class="w-full flex flex-col gap-5 px-3">
  <header>
    <app-raffle-details [raffle]="history().raffle" />
  </header>

  <section class="flex flex-col justify-center items-center gap-3">
    <h3 class="text-2xl font-semibold">{{ 'roulette.winner' | transloco }}</h3>
    <app-number-details [number]="history().raffle.get.winner!"></app-number-details>
  </section>

  <video class="h-full w-full rounded-lg my-4" controls>
    <source [src]="'history' | fullPath : history().getId() : history().video" />
  </video>

  <app-delivery-receipt [history]="history()" />
</section>
