<ui-dialog>
  <form [formGroup]="form" class="form-container">
    <header>
      <h3 class="text-xl font-semibold">{{ 'raffle.edit' | transloco }}</h3>
    </header>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.title' | transloco }}</span>
      </div>
      <input formControlName="title" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('title')?.touched && form.get('title')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.titleValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.description' | transloco }}</span>
      </div>
      <input formControlName="description" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('description')?.touched && form.get('description')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.descriptionValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.price' | transloco }}</span>
      </div>
      <input
        formControlName="price"
        [placeholder]="config().currency"
        type="number"
        class="w-full input input-bordered focus:input-primary"
      />
      @if (form.get('price')?.touched && form.get('price')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.priceValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.images' | transloco }}</span>
      </div>
      <ui-dropzone (change)="form.patchValue({ images: $event })" [defaultUrls]="raffle() | fullPaths" />
      @if (form.get('images')?.touched && form.get('images')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.imagesValidation' | transloco }}</div>
      }
    </section>

    <footer class="flex gap-2 justify-end">
      <button (click)="close()" class="btn btn-ghost">{{ 'raffle.cancel' | transloco }}</button>
      <button (click)="update()" class="btn btn-soft btn-primary">{{ 'raffle.editAction' | transloco }}</button>
    </footer>
  </form>
</ui-dialog>
