<article class="card card-compact bg-base-200 w-96 h-fit shadow-lg">
  <div class="card-body">
    <header class="flex justify-between items-start">
      <h2 class="card-title gap-2 text-lg">
        <span class="icon-[heroicons--cog-6-tooth] text-primary"></span>
        {{ 'configuration.title' | transloco }}
      </h2>

      <img
        src="{{ configuration() | fullPath }}"
        alt="reference-image"
        class="size-10 rounded-full object-cover aspect-square"
      />
    </header>

    <div class="space-y-4 mt-4">
      <div class="flex items-center gap-4">
        <span class="icon-[heroicons--currency-dollar] text-primary"></span>
        <div>
          <p class="text-sm font-medium">{{ 'configuration.currency' | transloco }}</p>
          <p class="text-sm text-gray-500">{{ channel().currency }}</p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="icon-[heroicons--credit-card] text-primary mt-0.5"></span>
        <div class="flex-1">
          <p class="text-sm font-medium">{{ 'configuration.paymentDetails' | transloco }}</p>
          <p class="text-sm text-gray-500 break-words">{{ channel().paymentDetails }}</p>
        </div>
      </div>
    </div>
  </div>
</article>
