<section class="w-full flex flex-col gap-5">
  <header>
    <app-raffle-details [raffle]="raffle()" />
  </header>

  <app-filters [numbers]="raffle().numbers" class="w-full">
    <ng-template let-numbers>
      <ul class="w-full flex flex-wrap justify-center gap-y-12 gap-x-4">
        @for (number of numbers; track number.value) {
        <li
          [routerLink]="number.is.available ? ['numbers', number.value] : null"
          class="relative animate-bounce-fade-in cursor-pointer"
          [ngClass]="{ 'cursor-not-allowed!': !number.is.available }"
        >
          <app-number [number]="number" />
        </li>
        }
      </ul>
    </ng-template>
  </app-filters>
</section>
