<button (click)="open()" class="btn btn-primary">
  <span class="icon-[heroicons--plus]"></span>
  {{ 'configuration.create.button' | transloco }}
</button>

<ui-dialog>
  <form [formGroup]="form" class="form-container">
    <header>
      <h3 class="text-xl font-semibold">{{ 'configuration.create.title' | transloco }}</h3>
    </header>

    <section class="form-control w-full mb-4">
      <label for="currency" class="label">
        {{ 'configuration.currency' | transloco }}
      </label>
      <input
        id="currency"
        formControlName="currency"
        placeholder="{{ 'configuration.placeholders.currency' | transloco }}"
        class="input input-bordered w-full"
      />
      @if (form.get('currency')?.touched && form.get('currency')?.invalid) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <section class="form-control w-full mb-4">
      <label for="phonePrefix" class="label">
        {{ 'configuration.phonePrefix' | transloco }}
      </label>
      <input
        id="phonePrefix"
        formControlName="phonePrefix"
        placeholder="{{ 'configuration.placeholders.phonePrefix' | transloco }}"
        class="input input-bordered w-full"
      />
      @if (form.get('phonePrefix')?.touched && form.get('phonePrefix')?.invalid) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <section class="form-control w-full mb-6">
      <label for="paymentDetails" class="label">
        {{ 'configuration.paymentDetails' | transloco }}
      </label>
      <textarea
        id="paymentDetails"
        formControlName="paymentDetails"
        placeholder="{{ 'configuration.placeholders.paymentDetails' | transloco }}"
        class="textarea textarea-bordered h-24 w-full"
      ></textarea>
      @if (form.get('paymentDetails')?.touched && form.get('paymentDetails')?.invalid) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <footer class="flex gap-2 justify-end">
      <button (click)="close()" class="btn btn-ghost">
        {{ 'actions.cancel' | transloco }}
      </button>
      <button (click)="create()" [disabled]="form.invalid" class="btn btn-soft btn-primary">
        <span class="icon-[heroicons--plus]"></span>
        {{ 'actions.create' | transloco }}
      </button>
    </footer>
  </form>
</ui-dialog>
