<article class="flex items-center justify-center card card-compact bg-base-200 w-96 h-96 shadow-xl">
  <button (click)="open()" class="btn btn-soft btn-primary">
    <span class="icon-[heroicons--plus-circle-16-solid]"></span>
  </button>
</article>

<ui-dialog #dialogRef>
  @if(dialogRef.is.opened){
  <form [formGroup]="form" class="form-container">
    <header>
      <h3 class="text-xl font-semibold">{{ 'raffle.create' | transloco }}</h3>
    </header>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.title' | transloco }}</span>
      </div>
      <input formControlName="title" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('title')?.touched && form.get('title')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.titleValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.description' | transloco }}</span>
      </div>
      <input formControlName="description" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('description')?.touched && form.get('description')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.descriptionValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.prices' | transloco }}</span>
      </div>
      <div formArrayName="prices" class="space-y-3">
        @for (currency of currencies; track $index;) {
        <div class="grid grid-cols-[3rem_auto] items-center gap-3">
          <span class="label-text font-medium">{{ currency | uppercase }}:</span>
          <div class="flex-1 relative">
            <input
              [formControlName]="$index"
              type="number"
              step="1"
              [placeholder]="'placeholders.enterPriceTo' | transloco : { currency }"
              class="w-full input input-bordered focus:input-primary"
            />
            @if (prices.at($index)?.touched && prices.at($index)?.invalid) {
            <div class="validator-hint text-error text-sm mt-1">
              {{ 'raffle.priceValidation' | transloco }}
            </div>
            }
          </div>
        </div>
        }
      </div>
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.quantityNumbers' | transloco }}</span>
      </div>
      <input formControlName="quantityNumbers" type="number" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('quantityNumbers')?.touched && form.get('quantityNumbers')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.quantityValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.images' | transloco }}</span>
      </div>
      <ui-dropzone (change)="form.patchValue({ images: $event })" />
      @if (form.get('images')?.touched && form.get('images')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.imagesValidation' | transloco }}</div>
      }
    </section>

    <footer class="flex gap-2 justify-end">
      <button (click)="close()" class="btn btn-ghost">{{ 'raffle.cancel' | transloco }}</button>
      <button (click)="create()" class="btn btn-soft btn-primary">{{ 'raffle.create' | transloco }}</button>
    </footer>
  </form>
  }
</ui-dialog>
