<article class="flex items-center justify-center card card-compact bg-base-200 w-96 h-96 shadow-xl">
  <button (click)="open()" class="btn btn-soft btn-primary">
    <span class="icon-[heroicons--plus-circle-16-solid]"></span>
  </button>
</article>

<ui-dialog>
  <form [formGroup]="form" class="form-container">
    <header>
      <h3 class="text-xl font-semibold">{{ 'raffle.create' | transloco }}</h3>
    </header>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.title' | transloco }}</span>
      </div>
      <input formControlName="title" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('title')?.touched && form.get('title')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.titleValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.description' | transloco }}</span>
      </div>
      <input formControlName="description" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('description')?.touched && form.get('description')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.descriptionValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.price' | transloco }}</span>
      </div>
      <div class="relative">
        <input
          formControlName="price"
          [placeholder]="config().currency"
          type="number"
          class="w-full input input-bordered focus:input-primary"
        />
      </div>
      @if (form.get('price')?.touched && form.get('price')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.priceValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.quantityNumbers' | transloco }}</span>
      </div>
      <input formControlName="quantityNumbers" type="number" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('quantityNumbers')?.touched && form.get('quantityNumbers')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.quantityValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'raffle.images' | transloco }}</span>
      </div>
      <ui-dropzone (change)="form.patchValue({ images: $event })" />
      @if (form.get('images')?.touched && form.get('images')?.invalid) {
      <div class="validator-hint text-error">{{ 'raffle.imagesValidation' | transloco }}</div>
      }
    </section>

    <footer class="flex gap-2 justify-end">
      <button (click)="close()" class="btn btn-ghost">{{ 'raffle.cancel' | transloco }}</button>
      <button (click)="create()" class="btn btn-soft btn-primary">{{ 'raffle.create' | transloco }}</button>
    </footer>
  </form>
</ui-dialog>
