<button (click)="open()" class="w-full text-left">
  <ng-content></ng-content>
</button>

<ui-dialog>
  <form [formGroup]="form" class="form-container">
    <header>
      <h3 class="text-xl font-semibold">{{ 'configuration.edit.title' | transloco }}</h3>
    </header>

    <section>
      <label for="currency" class="label">
        {{ 'configuration.currency' | transloco }}
      </label>
      <input
        id="currency"
        formControlName="currency"
        placeholder="{{ 'configuration.placeholders.currency' | transloco }}"
        class="input input-bordered w-full"
      />
      @if (form.get('currency')?.invalid && form.get('currency')?.touched) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <section>
      <label for="phonePrefix" class="label">
        {{ 'configuration.phonePrefix' | transloco }}
      </label>
      <input
        id="phonePrefix"
        formControlName="phonePrefix"
        placeholder="{{ 'configuration.placeholders.phonePrefix' | transloco }}"
        class="input input-bordered w-full"
      />
      @if (form.get('phonePrefix')?.invalid && form.get('phonePrefix')?.touched) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <section>
      <label for="paymentDetails" class="label">
        {{ 'configuration.paymentDetails' | transloco }}
      </label>
      <textarea
        id="paymentDetails"
        formControlName="paymentDetails"
        placeholder="{{ 'configuration.placeholders.paymentDetails' | transloco }}"
        class="textarea textarea-bordered h-24 w-full"
      ></textarea>
      @if (form.get('paymentDetails')?.invalid && form.get('paymentDetails')?.touched) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <footer class="flex justify-end gap-2">
      <button (click)="close()" class="btn btn-ghost">
        {{ 'actions.cancel' | transloco }}
      </button>
      <button (click)="update()" [disabled]="form.invalid" class="btn btn-soft btn-primary">
        <span class="icon-[heroicons--check]"></span>
        {{ 'actions.save' | transloco }}
      </button>
    </footer>
  </form>
</ui-dialog>
