<section class="flex justify-center gap-4 mb-5 animate-fade-in">
  <header>
    <div class="label">
      <span class="label-text">{{ 'filters.searchByNumber' | transloco }}</span>
    </div>
    <input [formControl]="value" type="number" class="w-full input input-bordered input-primary" />
  </header>

  <footer>
    <div class="label">
      <span class="label-text">{{ 'filters.searchByState' | transloco }}</span>
    </div>
    <select [formControl]="state" class="select select-primary w-full max-w-xs">
      <option value="all">{{ 'filters.all' | transloco }}</option>
      <option value="available">{{ 'filters.available' | transloco }}</option>
      <option value="inPayment">{{ 'filters.inPayment' | transloco }}</option>
      <option value="inVerification">{{ 'filters.inVerification' | transloco }}</option>
      <option value="purchased">{{ 'filters.purchased' | transloco }}</option>
    </select>
  </footer>
</section>

<ng-template
  [ngTemplateOutlet]="numberListTemplate"
  [ngTemplateOutletContext]="{ $implicit: numbers() | withValue : value.value | withState : state.value! }"
>
</ng-template>
