@let number = raffle().get.number(+value());

<section class="w-full flex flex-col gap-5">
  <header class="grid lg:grid-cols-[1fr_auto] items-center justify-items-center gap-4">
    <app-raffle-details [raffle]="raffle()" class="w-full" />
    <app-number [number]="number" />
  </header>

  <form [formGroup]="form" class="form-container mx-auto bg-base-200 rounded-lg p-6 shadow-sm">
    <header class="flex flex-col gap-3 items-center text-center">
      <h3 class="text-2xl font-semibold">{{ 'number.buy' | transloco }}</h3>
      <small class="max-w-xs text-warning">{{ 'number.maxLimit' | transloco }}</small>
    </header>

    <section>
      <div class="label">
        <span class="label-text">{{ 'number.fullName' | transloco }}</span>
      </div>
      <input formControlName="name" class="w-full input input-bordered focus:input-primary" />
      @if (form.get('name')?.touched && form.get('name')?.invalid) {
      <div class="validator-hint text-error">{{ 'number.nameValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'number.phone' | transloco }}</span>
      </div>
      <input
        formControlName="phone"
        [mask]="'(00) 000-0000000'"
        [showMaskTyped]="true"
        class="w-full input input-bordered focus:input-primary"
      />
      @if (form.get('phone')?.touched && form.get('phone')?.invalid) {
      <div class="validator-hint text-error">{{ 'number.phoneValidation' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'number.voucher' | transloco }}</span>
      </div>
      <ui-dropzone (change)="form.patchValue({ voucher: $event })" />
      @if (form.get('voucher')?.touched && form.get('voucher')?.invalid) {
      <div class="validator-hint text-error">{{ 'number.voucherValidation' | transloco }}</div>
      }
    </section>

    <footer class="flex gap-2 justify-end">
      <button (click)="cancel()" class="btn btn-ghost">{{ 'actions.cancel' | transloco }}</button>
      <button (click)="buy()" class="btn btn-soft btn-primary">{{ 'actions.buy' | transloco }}</button>
    </footer>
  </form>
</section>
