<button (click)="open()" class="btn btn-soft btn-primary absolute bottom-0 inset-x-0 w-fit mx-auto">
  <span class="icon-[heroicons--plus-circle-16-solid]"></span>
</button>

<ui-dialog #dialogRef>
  @if(dialogRef.is.opened){
  <form [formGroup]="form" class="form-container">
    <header>
      <h3 class="text-xl font-semibold">{{ 'channel.actions.create' | transloco }}</h3>
    </header>

    <section class="form-control w-full mb-4">
      <label for="currency" class="label">
        {{ 'channel.currency' | transloco }}
      </label>
      <select id="currency" formControlName="currency" class="select block w-full">
        @for(currency of currencies; track currency){
        <option>{{ currency | uppercase }}</option>
        }
      </select>
      @if (form.get('currency')?.touched && form.get('currency')?.invalid) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <section class="form-control w-full mb-6">
      <label for="paymentDetails" class="label">
        {{ 'channel.paymentDetails' | transloco }}
      </label>
      <textarea
        id="paymentDetails"
        formControlName="paymentDetails"
        placeholder="{{ 'channel.placeholders.paymentDetails' | transloco }}"
        class="textarea textarea-bordered h-24 w-full"
      ></textarea>
      @if (form.get('paymentDetails')?.touched && form.get('paymentDetails')?.invalid) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <section>
      <div class="label">
        <span class="label-text">{{ 'channel.referenceImage' | transloco }}</span>
      </div>
      <ui-dropzone (change)="form.patchValue({ image: $event })" [maxFiles]="1" />
      @if (form.get('image')?.touched && form.get('image')?.invalid) {
      <div class="validator-hint text-error">{{ 'validation.required' | transloco }}</div>
      }
    </section>

    <footer class="flex gap-2 justify-end">
      <button (click)="close()" class="btn btn-ghost">
        {{ 'actions.cancel' | transloco }}
      </button>
      <button (click)="create()" [disabled]="form.invalid" class="btn btn-soft btn-primary">
        {{ 'actions.create' | transloco }}
      </button>
    </footer>
  </form>
  }
</ui-dialog>
